<div class="bg-primary">
    <div class="container">
        <div class="row align-items-center g-0">
            <div class="col-xl-5 col-lg-6 col-md-12">
                <div class="py-5 py-lg-0">
                    <h1 class="text-white display-4 fw-bold">Welcome to Learn2Build App.
                    </h1>
                    <p class="text-white-50 mb-4 lead">
                        Hand-picked Instructor and expertly crafted courses, designed for the modern students and entrepreneur.
                    </p>
                    <!-- <a href="pages/course-filter-list.html" class="btn btn-success">Browse Courses</a> &nbsp; -->
                    <!-- <a routerLink="/courses" class="btn btn-success">Browse Courses</a> &nbsp; -->
                    <!-- <a href="pages/sign-in.html" class="btn btn-white">Are You Instructor?</a> -->
                </div>
            </div>
            <div class=" col-xl-7 col-lg-6 col-md-12 text-lg-end text-center">
                <img src="assets/images/hero/hero-img.png" alt="" class="img-fluid" />
            </div>
        </div>
    </div>
</div>